body {
  padding: 0;
  margin: 0;
}

header {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #414345, #232526);
  background: linear-gradient(to top, #414345, #232526);
  height: 35px;
}

ul {
  list-style-type: none;
  padding: 0;
  display: inline;
}
li {
  display: inline-block;
  margin-left: 10px;
  margin-top: 2px;
  border: 2px solid black;
  box-shadow: 3px 3px #c0c0c0;
  padding: 2px;
}

li:hover {
  box-shadow: #c0c0c0;
  transition: all 0.2s;
}
.right {
  display: inline-block;
  position: absolute;
  right: 20px;
}

label {
  display: inline-block;
  float: left;
  width: 250px;
  text-align: right;
}
